body {
    margin: auto;
    max-width: 800px;
    padding: 10px;
}

#navigation {
    margin: auto;
    max-width: 800px;
    padding: 10px;
    border-spacing: 10px;
    background-color: grey;
}

html {
    margin: auto;
    max-width: 800px;
    background-image: (rgb(105, 103, 103));
    background-size: 100%;
    align-content: center;
    text-align: center;
}

#guysnight {
    margin: auto;
    padding: 10px;
    border: 10px;
    border-style: double;
    background-color: teal;
}

h3 {
    margin: auto;
    padding: 10px;
    max-width: 800px;
    border-style: solid;
    border-color: blue;
    background-color: darkgrey;
}