body {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

navigation {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    background-color: blue;
    padding: 10px;
}

.html {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    background-image: linear-gradient(white) , (blue);
}